#page-course-index-category {
    .buttons {
        margin-top: 10px;
    }

    .prettypanels-categ {
        padding: 10px;
    }

    .courseimage {
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}