@include media-breakpoint-up(md) {
    .pagelayout-standard,
    body.limitedwidth {
        #page.drawers {
            .main-inner {
                max-width: $course-content-maxwidth;
            }
            .footer-popover {
                max-width: $course-content-maxwidth;
            }
        }
    }
    .header-maxwidth {
        max-width: $course-content-maxwidth;
    }
}