#page-user-profile {
    #region-main {
        border: none;
    }

    .profile-block {
        border: 1px solid rgba(0, 0, 0, .125);
        margin: 10px;
        padding: 10px;
    }

    li {
        list-style: none;
    }
}