{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}
<nav class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex pimenko-navbar" aria-label="{{#str}}sitemenubar, admin{{/str}}">

    <button class="navbar-toggler aabtn d-block d-md-none px-1 my-1 border-0" data-toggler="drawers" data-action="toggle" data-target="theme_boost-drawers-primary">
        <span class="navbar-toggler-icon"></span>
        <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
    </button>

    <a href="{{{ config.wwwroot }}}" class="navbar-brand aabtn {{# output.sitelogo }}has-logo{{/ output.sitelogo }}
        {{^ output.sitelogo }}
                d-none d-sm-inline
            {{/ output.sitelogo }}
                ">
        {{# output.sitelogo }}
            <span class="logo d-none d-sm-inline">
                    <img src="{{output.sitelogo}}" alt="{{output.sitelogo}}">
                </span>
        {{/ output.sitelogo }}
        <span class="site-name d-none d-md-inline">{{{ sitename }}}</span>
    </a>

    {{#primarymoremenu}}
        <div class="primary-navigation">
            {{> core/moremenu}}
        </div>
    {{/primarymoremenu}}

    <ul class="navbar-nav d-none d-md-flex my-1 px-1">
        <!-- page_heading_menu -->
        {{{ output.page_heading_menu }}}
    </ul>

    <div id="usernavigation" class="navbar-nav ml-auto">
        {{# output.search_box }}
            {{{ output.search_box }}}
            <div class="divider border-left h-75 align-self-center mx-1"></div>
        {{/output.search_box}}
        {{#langmenu}}
            {{> theme_boost/language_menu }}
            <div class="divider border-left h-75 align-self-center mx-1"></div>
        {{/langmenu}}
        {{{ output.navbar_plugin_output }}}
        <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
            {{#usermenu}}
                {{> core/user_menu }}
            {{/usermenu}}
        </div>
        {{{ output.edit_switch }}}
    </div>
</nav>

{{> theme_boost/primary-drawer-mobile }}