{{!
    @template theme_pimenko/course_gallery_container

    Conteneur de la galerie de cours.

    Example context (json):
    {
    }
}}
<div class="card-body p-0 course-gallery-container">
    {{> theme_pimenko/course_gallery }}
</div>

<script src="{{ rootpath }}/theme/pimenko/javascript/geopattern/js/geopattern.min.js"></script>
{{#js}}
    require(['jquery'], function($) {
        (function() {
            /* global GeoPattern */
            // Generate pictures for the courses without picture
            const generatePictures = function(courseGallery) {
                for (let i = 0; i < courseGallery.length; i++) {
                    const id = courseGallery.item(i).id;
                    const img = courseGallery.item(i).getElementsByClassName('img-course').item(0);
                    if (img.style['background-image'] === 'url("")') {
                        const pattern = GeoPattern.generate(id);
                        img.style['background-image'] = pattern.toDataUrl();
                    }
                }
            };

            const courses = document.getElementsByClassName('course-gallery');
            let nbCourseMore = 1;
            let i = 0;

            while (i < courses.length) {
                if (nbCourseMore <= 12) {
                    courses.item(parseInt(i)).style.display = 'flex';
                    if (parseInt(i) === courses.length - 1) {
                        $('#load-more').hide();
                    }
                }
                nbCourseMore++;
                i++;
            }

            let courseGallery = document.getElementsByClassName('course-gallery');
            // Generate when the document is loaded
            if (courseGallery.length > 0) {
                generatePictures(courseGallery);
            }

            // And when the gallery changes
            const gallery = document.getElementsByClassName('course-gallery-container')[0];
            const config = {attributes: false, childList: true, subtree: true};
            const galleryChange = function() {
                courseGallery = document.getElementsByClassName('course-gallery');
                if (courseGallery.length > 0) {
                    generatePictures(courseGallery);
                }
            };
            const observer = new MutationObserver(galleryChange);
            observer.observe(gallery, config);
        })();
    });
{{/js}}
