<div id="course_search_form" class="row">
    <div class="col-12">
        <div class="row">
            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                <label for="category-select">{{ labelcategory }}</label>
                <div class="select">
                    <select class="form-control form-control-lg" id="category-select" name="category-select">
                        <option value="all">{{ allcategories }}</option>
                        {{# categories}}
                            <option value="{{ id }}" {{ selected }}>{{{ name }}}</option>
                        {{/categories}}
                    </select>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-12">
                <form id="category-search-form">
                    <label for="category-search">{{ labelsearch }}</label>
                    <div class="search input-group">
                        <input class="form-control form-control-lg" id="category-search" name="category-search"
                               placeholder="{{ placeholdersearch }}">
                        <i class="form-group__bar"></i>
                        <div class="input-group-btn">
                            <button id="category-search-button" class="btn btn-primary btn-lg" type="submit">{{#str}}search, theme_pimenko{{/str}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="loader-gallery" class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>