{{!
    @template theme_pimenko/course_category_tree

    Arborescence des catégories avec actions repliables et contenu HTML fourni.

    Example context (json):
    {
        "contentattributes": "id=\"cat-tree\" class=\"category-tree\"",
        "linkclass": "toggle-all",
        "linkname": "Tout replier",
        "categorycontent": "<ul><li>Catégorie</li></ul>"
    }
}}
<div {{{contentattributes}}}>
    <div class="collapsible-actions">
        <a href="#" class="{{{linkclass}}}">{{{linkname}}}</a>
    </div>
    <div class="content">{{{categorycontent}}}</div>
</div>
{{#js}}
    require(['jquery'], function($) {
        // Open all 1st rank categories by default.
        $(document).ready(function() {
            if ($('.categoryname')) {
                $('.categoryname').click();
            }
        });
    });
{{/js}}
