{{!
    @template theme_pimenko/header_dropdown

    Menu déroulant d'entête avec sous-menus facultatifs.

    Example context (json):
    {
        "dropdownname": "Menu",
        "dropdownitems": [
            {"url": "/path", "name": "Lien", "submenu": "<ul class=\"dropdown-menu\"><li><a href=\"/sub\" class=\"dropdown-item\">Sous-lien</a></li></ul>"}
        ]
    }
}}
<div class="dropdown nav-item h-100">
    <a class="dropdown-toggle nav-link" id="navbarDropdownMenuLink"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{dropdownname}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {{#dropdownitems}}
            <li {{#submenu}}class="dropdown-submenu"{{/submenu}}>
                <a class="dropdown-item {{#submenu}}dropdown-toggle{{/submenu}}" href="{{url}}">
                    {{{name}}}
                </a>
                {{#submenu}}
                    {{{submenu}}}
                {{/submenu}}
            </li>
        {{/dropdownitems}}
    </ul>
</div>